* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-width: 1fr;
}

body .layout {
    min-width: 100%;
}

.layout {
    min-height: 100vh;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
        "navbar navbar"
        "body body"
        "footer footer";
}

.layout nav {
    width: 100%;
    margin: 0 auto;
    grid-area: navbar;
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 50px;
}

@media(max-width:600px) {
    nav {
        display: flex;
        gap: 3px;
        font-size: 10px;
        width: 300px;
        justify-content: center;
    }
}

@media(max-width:550px) {}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 3em;
}

.list-container div {
    font-size: 25px;
    background: linear-gradient(to right, rgb(255, 234, 0), blue);
    color: transparent;
    -webkit-background-clip: text;
}

.list-container a {
    text-decoration: none;
    color: white;
    height: 90%;
}

.list-container a:hover {
    color: blueviolet;
}

.list-container .about {
    position: relative;
}

.list-container .about .about-items {
    position: absolute;
    background-color: rgb(200, 0, 255);
    list-style-type: none;
    color: black;
    border-radius: 8px;
    display: none;
}

.list-container .about:hover .about-items {
    display: block;
}

.list-container .about .about-items li {
    padding: 10px 15px;
}

.list-container .about .about-items li:hover {
    background-color: aqua;
}

main {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

main .home {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-home {
    background-color: rgb(163, 172, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("vansh.profile.photo.jpg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 3em;
    background: linear-gradient(to right, #4776E6, #8E54E9);
}

.left-home h1 span {
    background: linear-gradient(to right, red, blue);
    color: transparent;
    -webkit-background-clip: text;
}

.home-buttons button {
    padding: 10px 15px;
    border-radius: 9px;
    box-shadow: 2px 2px 3px black;
}

.home-buttons button a {
    text-decoration: none;
    color: black;
}

.home-buttons button:hover {
    text-decoration: underline;
}

footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 1em;
}

@media(max-width:600px) {}

.skills {
    background-image: url("istockphoto-1459546674-1024x1024.jpg");
    background-size: cover;
    width: 1fr;
}

.skills .skills-title {
    display: inline;
    background: linear-gradient(to right, red, rgb(0, 132, 255));
    color: transparent;
    -webkit-background-clip: text;
}

.skills-items {
    background-color: rgb(0, 98, 255);
    border-radius: 8px;
    padding: 1em;
    box-shadow: 3px 3px 5px cyan;
}

.skills-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1em;
    grid-template-areas:
        "html css css c"
        "html cpp videoediting videoediting";
    justify-content: center;
    align-content: center;
    margin: 3em;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.c {
    grid-area: c;
}

.cpp {
    grid-area: cpp;
}

.videoediting {
    grid-area: videoediting;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
    background: linear-gradient(to right, #4776E6, #8E54E9);
}

.project-list {
    padding: 1em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.project-list a {
    text-decoration: none;
    color: white;
}

.project-list a:hover {
    color: aqua;
}

#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.input-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 45px;
    justify-content: center;
    align-content: center;
    gap: 2em;
    padding: 0 1em;
    background-image: url('luca-romano-aa4FaP6WeB4-unsplash.jpg');
    background-size: cover;
}

.contact-items {
    padding: 1em;
    border-radius: 50px;
    opacity: 0.8;
}

.input-container button {
    background: linear-gradient(to right, rgb(153, 0, 255), rgb(137, 198, 255));

}

.contact-details {
    background: linear-gradient(to right, #4776E6, #8E54E9);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #f2f2f2;
    font-weight: lighter;
}

.education {
    background-image: url('kimberly-farmer-lUaaKCUANVI-unsplash.jpg');
    background-size: cover;
    color: white;
}

.education-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 3em;
    margin: 1em;
}

.study {
    background: linear-gradient(to right, #4776E6, #8E54E9);
    color: black;
    padding: 1em;
    border-radius: 10px;
}

.study p {
    color: #4776E6;
}